.popup-interes {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background: white;
  padding: 20px;
  width: 350px;
  border-radius: 10px;
  position: relative;
  animation: zoomIn 0.2s ease;
}

.cerrar {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 22px;
  cursor: pointer;
}

.btn-enviar {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
}

.popup-confirm {
  text-align: center;
}

@keyframes zoomIn {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}
